/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Black.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  /* padding: 50px; */
}

/* =================================================== */
.main {
  width: 100%;
  margin: 0 auto;
  /* padding: 50px 0 0 0; */
  /* border: 1px solid #0000ff; */
}
.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #0000ff;
  margin: 0 0 30px 0;
}

/* НЕЗАВИСИМЫЙ блок */
.heading {
  max-width: 583px;
  vertical-align: top;
}
.heading {
  margin-bottom: 80px;
}
.heading_max-widht {
  max-width: 430px;
}

.heading__subtitle {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  background: url(../icons/heading_block/overline_mark.svg) 0 0 / 24px no-repeat;
  padding-left: 33px;
  margin-bottom: 33px;
}
.heading__subtitle_color {
  background: url(../icons/heading_block/overline_mark_white.svg) 0 0 / 24px
    no-repeat;
  color: #ffffff;
}
.heading__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}
.heading__title_color {
  color: #ffffff;
}
/* ========================================= */

/* stats */
.stats {
  background: #29c3be;
}

.stats__container {
  max-width: 1440px;
  margin: auto 0;
  font-size: 0;
  padding: 112px 210px 212px;
  margin: 120px auto 0;

  background: url(../img/stats/bg.png) 75% -150px / 638px 439px no-repeat;
}

.stats__image {
  display: inline-block;
  max-width: 498px;
  border-radius: 40px;
  margin: -415px 0 0 460px;
}

.stats-block {
  display: inline-block;
  min-width: 237px;
  max-width: 237px;
  vertical-align: top;
}
.stats-block_mr {
  margin-right: 24px;
}
.stats-block_mr:last-child {
  margin-right: 0;
}

.stats-block:hover {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
  margin-top: -2px;
}
.stats-block:hover .stats-block__num {
  color: #ff0000;
}
.stats-block:hover .stats-block__text {
  color: #ffffff;
}
.stats-block__icon {
  width: 76px;
  height: 76px;
  margin-right: 11px;
}
.stats-block__info {
  display: inline-block;
  max-width: 161px;
}
.stats-block__num {
  display: block;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 8px;
}
.stats-block__text {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: lowercase;
  color: #5d62b5;
}
/* ==================================== */

/* appt-cta  */
.appt-cta {
  font-size: 0;
  max-width: 1020px;
  background: #ec513d;
  border-radius: 20px;
  padding: 50px 73px;
}
._cta-appt {
  margin: -78px auto 10px;
}
.appt-cta_bg {
  background: #5d62b5;
}
.appt-cta__text {
  display: inline-block;
  max-width: 562px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 105px 0 0;
}
.appt-cta__button {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;

  vertical-align: top;
  max-width: 210px;
  background: #f2726f center / 210px 48px no-repeat;
  border-radius: 8px;
  padding: 18px 32px;
  box-shadow: 0 5px 10px #000000;
}
.appt-cta__button:hover {
  color: #f2726f;
  background: #ffffff;
}
.appt-cta__button:active {
  box-shadow: 0 2px 5px #000000;
}
